.test{
  height: 1000%;
}
p {
  letter-spacing: 1px;
  word-spacing: 1em;
  line-height: 25px;
  margin-left: 27px;
  margin-top: 2em;
  align-content: center;
}

button{
  margin-left: 33px;
}

.table-sm{
  width: 100%;
  white-space: nowrap;
  margin-left: 33px;
  font-size: 13px;
}
.vertical-align {
  vertical-align: middle;
}
